@{
    ViewData["Title"] = "Home Page";
    int age = 23;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<h2>@age</h2>
<h2>@age</h2>
<h2>@age</h2>
<h2>@age</h2>
<h2>@age</h2>
<h2>@age</h2>